body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #1f1f1f;
    background-color:ivory;
}
article {
    display: flex;
    flex-direction: column;
}
.question {
    display: none;
}
.result{
    display: none;
}

/* 시작 화면 */
.main-title{   
    font-size: 20px;
    color: #7c7c7c;  
}
.sub-title{
    font-size: 32px;
    font-weight: 100;
    color: #333;
}
.start-cover{     
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-start{
    font-size: 16px;
    color:#eee;
    background-color:rgba(155,132,179,1);
    border: darkorchid;
}
.btn-start:hover{
    background-color:rgba(153,50,254,1); 
}

/* 문제 화면 */
.progress{       
    background-color:#a1a1a1;
}
.progress-bar{ 
    background-color: darkorchid;
}
.question-content{  
    font-size: 20px;
}
.btn-answer{
    background-color: #363636;
    border: #1f1f1f;
    width: 400px;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.btn-answer:hover{
    background-color: darkorchid;
    border: #1f1f1f;
    width: 400px;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
}
.rectangle{
    width: 400px;
    height: 8px;
    background-color: #383a43;
    margin: 0 auto;
}
.mid-rectangle{
    width: 400px;
    height: 1px;
    background-color: #383a43;
    margin: 0 auto;
}


/* 결과 화면 */
#img{   
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.result-message{
    color: darkorchid;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
}
.result-job{
    font-size: 24px;
    font-weight: 700;
    color: #383a43;
}
.result-explain{
    font-size: 20px;
    font-weight: normal;
    color: darkorchid;
}
.share{
    margin: 0 auto;
}